@import "vars";

.content {
    p {
        font-weight: 450;
    }
    .callout {
        padding: 20px;
        padding-left: 30px;
        font-size: 18px;
        border-left: solid 10px #EFD6C5;
    }
    .main-page-list {
        font-size: 16px;
        list-style: none;
        font-family: "Lora";
    }
    .main-page-list small {
        font-size: 16px;
        font-family: "Lora";
    }
    .una {
        text-decoration: none;
    }
    .una:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .post-summary {
        font-size: 16px;
        font-family: "Lora";
        font-weight: 450;
    }
    .brsmall {
            display: block;
            margin-bottom: 0.5em;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 400;
        margin-left: 10px;
    }
    ul > li {
        margin: 0 0 0 20px;
        font-weight: 400;
    }
    ul {
        padding: 0 20px 0 0;;
    }
    ol {
        padding: 0 20px 0 0;
    }
    ol > li:before {
        content: counter(list, decimal) ". ";
        counter-increment: list;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid $accent;
        margin: 20px 0 20px 10px;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .book-cover {
        height: auto;
        width: 200px;;
        position: relative;
        margin: 0;
        float: right;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    .profile-picture {
        height: auto;
        width: 28%;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img.standard {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    img.wide {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .footnotes {
        margin-top: 2em;
        
        ol {
            margin-top: 0.5em;
        }
        
        li {
            margin-left: 0;
            p {
                display: inline;
                margin: 0;
            }
        }
    }
}
